@using Pos.ViewModel
@model ProductTypeVm

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Mode</h1>

<partial name="_Alerts" />

<h3 class="text-danger">Are you sure you want to delete this?</h3>
<!--
<div>
        
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Search)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Search)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProtectedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProtectedId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div> 
-->

<div class="row">
    <div class="col-md-4">

        <form asp-action="Erase" class="vstack gap-3">

            <div>
                <input asp-for="ProtectedId"
                       type="hidden" />
            </div>

            <div>
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name"
                       class="form-control"
                       readonly/>
            </div>

            <div>
                <label asp-for="Details" class="form-label"></label>
                <textarea asp-for="Details"
                          class="form-control"
                          readonly
                          rows="4">
                    </textarea>
            </div>

            <div>
                <label asp-for="SortOrder" class="form-label"></label>
                <input asp-for="SortOrder"
                       class="form-control"
                       readonly
                       type="number" />
            </div>

            <div class="d-flex gap-2 mt-2">
                <button class="btn btn-danger btn-fixed" type="submit">
                    Delete
                </button>

                <a asp-action="Index" class="btn btn-info btn-fixed">
                    List Page
                </a>
            </div>

        </form>

    </div>

</div>