@using PointOfSaleSimpleVersionMvc.ViewHelpers
@using Pos.ViewModel
@model PagedResult<ProductTypeVm>
@{
    ViewData["Title"] = "Product Types";
}

<h1>Product Types</h1>


<partial name="_Alerts" />

<div class="sticky-search">
    <form asp-action="SearchIndex" class="mb-3" method="get">
        <div class="input-group">
            <input class="form-control" 
                   name="Entity.Search"
                   placeholder="Search types..."
                   type="search"
                   value="@Context.Request.Query["Entity.Search"]"/>

            <button class="btn btn-info btn-fixed" type="submit">Search</button>
        </div>


    </form>
</div>



<p>
    <a asp-action="Create" class="btn btn-primary btn-fixed">New</a>
</p>

<a id="product-types"></a>

<table class="table table-hover w-100">
    <thead>
        <tr>
            <th class="text-end me-3">#</th>
            <th>Name</th>
            <th>Details</th>
            <th>Sort Order</th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Items.Any())
        {
            <tr>
                <td colspan="4" class="text-center text-muted">
                    No items found.
                </td>
            </tr>
        }
        else
        {
            var rowNo = 1;

            foreach (var item in Model.Items)
            {
                <tr class="align-middle">
                    <td class="text-end me-3">@rowNo</td>
                    <td class="text-nowrap w-25">@item.Name</td>
                    <td class="w-100">@item.Details</td>
                    <td class="text-center">@item.SortOrder</td>
                    
                    <td class="text-nowrap">
                       
                        <div class="d-grid d-md-flex gap-2">
                            <a asp-action="Edit" asp-route-id="@item.ProtectedId" class="btn btn-sm btn-primary btn-fixed">
                                Edit
                            </a>
                            <a asp-action="Details" asp-route-id="@item.ProtectedId" class="btn btn-sm btn-info btn-fixed">
                                Details
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.ProtectedId" class="btn btn-sm btn-danger btn-fixed">
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>

                ++rowNo;
            }
        }
    </tbody>
</table>

@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination justify-content-center">

            <li class="page-item @(Model.HasPrevious ? "" : "disabled")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(Model.PageNumber - 1)"
                   asp-fragment="product-types">
                    Previous
                </a>
            </li>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@i"
                       asp-fragment="product-types">
                        @i
                    </a>
                </li>
            }

            <li class="page-item @(Model.HasNext ? "" : "disabled")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(Model.PageNumber + 1)"
                   asp-fragment="product-types">
                    Next
                </a>
            </li>

        </ul>
    </nav>
}