@using Pos.ViewModel
@model List<ProductTypeVm>

@{
    ViewData["Title"] = "Product Types";
}

<h1>Product Types</h1>


<partial name="_Alerts" />

<form method="get" asp-action="SearchIndex" class="mb-3">
    <div class="input-group">
        <input name="Entity.Search"
               class="form-control"
               type="search"
               value="@Context.Request.Query["Entity.Search"]"
               placeholder="Search types..."/>

        <button class="btn btn-info btn-fixed" type="submit">Search</button>
    </div>

    
</form>

<p>
    <a asp-action="Create" class="btn btn-primary btn-fixed">New</a>
</p>

<table class="table table-hover w-100">
    <thead>
        <tr>
            <th class="text-end me-3">#</th>
            <th>Name</th>
            <th>Details</th>
            <th>Sort Order</th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="4" class="text-center text-muted">
                    No items found.
                </td>
            </tr>
        }
        else
        {
            var rowNo = 1;

            foreach (var item in Model)
            {
                <tr class="align-middle">
                    <td class="text-end me-3">@rowNo</td>
                    <td class="text-nowrap w-25">@item.Name</td>
                    <td class="w-100">@item.Details</td>
                    <td class="text-center">@item.SortOrder</td>
                    
                    <td class="text-nowrap">
                        <!-- d-grid makes them stack (vertical) by default -->
                        <!-- d-md-flex makes them horizontal again on medium screens and up -->
                        <div class="d-grid d-md-flex gap-2">
                            <a asp-action="Edit" asp-route-id="@item.ProtectedId" class="btn btn-sm btn-primary btn-fixed">
                                Edit
                            </a>
                            <a asp-action="Details" asp-route-id="@item.ProtectedId" class="btn btn-sm btn-info btn-fixed">
                                Details
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.ProtectedId" class="btn btn-sm btn-danger btn-fixed">
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>

                ++rowNo;
            }
        }
    </tbody>
</table>
